<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/news.8c185a1d1a8e59d04d0933abe477e3de.css?f9b668ac68dce68dbc71" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.5f8240f9168fe6ee6e88.js?f9b668ac68dce68dbc71"></script><script type="text/javascript" src="../static/js/vendor.7ce5ec13e1af41b2a0a6.js?f9b668ac68dce68dbc71"></script><script type="text/javascript" src="../static/js/module/news.9c6763954bac3d41c789.js?f9b668ac68dce68dbc71"></script></body>
</html>
