<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/news-create.ffccbf2d04bcd0a092187f41a9020d2d.css?67058fe4b6d26d6755e9" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.0b37555fdc3f86f5c384.js?67058fe4b6d26d6755e9"></script><script type="text/javascript" src="../static/js/vendor.7ce5ec13e1af41b2a0a6.js?67058fe4b6d26d6755e9"></script><script type="text/javascript" src="../static/js/module/news-create.d178601a6c4b8f23a97e.js?67058fe4b6d26d6755e9"></script></body>
</html>
