<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/news.e1442e6c155c3d91a3798c278bd2b820.css?242cf1bd15a6a323752c" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.0c5d3857cbd476f8339f.js?242cf1bd15a6a323752c"></script><script type="text/javascript" src="../static/js/vendor.0f1ceb47f90b7f99fa4e.js?242cf1bd15a6a323752c"></script><script type="text/javascript" src="../static/js/module/news.8c3b23c51a7e80664814.js?242cf1bd15a6a323752c"></script></body>
</html>
