<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/news-create.ffccbf2d04bcd0a092187f41a9020d2d.css?2cf96d373a524ac4ca51" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.3ce261812b62704f0bd9.js?2cf96d373a524ac4ca51"></script><script type="text/javascript" src="../static/js/vendor.7ce5ec13e1af41b2a0a6.js?2cf96d373a524ac4ca51"></script><script type="text/javascript" src="../static/js/module/news-create.d178601a6c4b8f23a97e.js?2cf96d373a524ac4ca51"></script></body>
</html>
