<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/news-create.30fa6a327cf9ae720757b35ff3798946.css?68d22742df7a5ad61ff7" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.30aee794867d4fce6cff.js?68d22742df7a5ad61ff7"></script><script type="text/javascript" src="../static/js/vendor.0f1ceb47f90b7f99fa4e.js?68d22742df7a5ad61ff7"></script><script type="text/javascript" src="../static/js/module/news-create.bb177de9593695bf8241.js?68d22742df7a5ad61ff7"></script></body>
</html>
