<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/room.51d8bf37d3d50e5329f7207567d81281.css?442d29c46d956b9b1c88" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.785beca22e3ff1911a0f.js?442d29c46d956b9b1c88"></script><script type="text/javascript" src="../static/js/vendor.0f1ceb47f90b7f99fa4e.js?442d29c46d956b9b1c88"></script><script type="text/javascript" src="../static/js/module/room.e77b6ba9d37fcd66a306.js?442d29c46d956b9b1c88"></script></body>
</html>
