<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/room.b740b6784f12725fa91238b7d867c628.css?96ffec2ace5a5823af4b" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.cbabb7eed8f641133e79.js?96ffec2ace5a5823af4b"></script><script type="text/javascript" src="../static/js/vendor.0f1ceb47f90b7f99fa4e.js?96ffec2ace5a5823af4b"></script><script type="text/javascript" src="../static/js/module/room.4012818fce953aa5d9fa.js?96ffec2ace5a5823af4b"></script></body>
</html>
