<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/room-detail.04318314cd26f530f71d749aeae68560.css?36cb6a8aac52dd74c887" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.221ad73de72f6b9466f5.js?36cb6a8aac52dd74c887"></script><script type="text/javascript" src="../static/js/vendor.f93f6ed0ecd7a7bf1353.js?36cb6a8aac52dd74c887"></script><script type="text/javascript" src="../static/js/module/room-detail.31116d9acd7573f94e92.js?36cb6a8aac52dd74c887"></script></body>
</html>
