<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Piano Cabin</title>
<link href="../static/css/module/room.37afa9c5d0c7d698c40d8c1708195af8.css?4048a70f170f04a2beec" rel="stylesheet"></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="../static/js/manifest.ea5edc01a8e352c0bf50.js?4048a70f170f04a2beec"></script><script type="text/javascript" src="../static/js/vendor.c1c3c04dcf9360859224.js?4048a70f170f04a2beec"></script><script type="text/javascript" src="../static/js/module/room.42957f78b3fabef40fa1.js?4048a70f170f04a2beec"></script></body>
</html>
